.card-container{
    display: inline-block;
    perspective: 1000px;
    border: 1px solid black;
    margin: 10px;
    width: 100px;
    height: 100px;
}

.card{
    padding: 20px;
}

.card-flipper{
    transition: 0.6s;
    position: relative;
}

.card-front-view,
.card-back-view{
    position: absolute;
    left: 0;
    top: 0;
}

.card-back-view{
    z-index: 2;
}

.card-front-view{
    background: beige;
}
.defaultCard{
    color: gray;
}